<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>addStudent</title>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid bg-black text-white">
        <div class="jumbotron">
            <h1 class="text-center">Talaba Management System</h1>
        </div>
    </div>
    <div class="container text-center">
        <h1>Add New Talaba</h1>
        <hr>
        <div class="row">
            <div class="col-6 m-auto">
                <form action="#" th:action="@{/saveTalaba}" th:object="${talaba}" method="POST"
                class="form p-5 bg-info">
                    <input type="text" th:field="*{name}" class="form-control mb-4 col-4"
                           placeholder="Enter student first name">

                    <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4"
                           placeholder="Enter student last name">

                    <input type="email" th:field="*{email}" class="form-control mb-4 col-4"
                           placeholder="Enter student email address">

                    <button type="submit" class="btn btn-light col-2">Save</button>
                </form>
            </div>

        </div>

    </div>

</body>
</html>